
{% extends "textpage.j2" %}

{% block boxtext %}
About Me
--------

I am a Postdoctoral Research Associate in the Statistics Department at the 
University of Washington where I work with [Emily
Fox](http://www.stat.washington.edu/~ebfox/).

I received my PhD in computer science at Dartmouth College.  My advisor was 
<a href="http://www.cs.dartmouth.edu/~rockmore">Dan Rockmore</a>.

My research focuses on Bayesian nonparametric statistics applied to
machine learning.  Specifically, I work on developing dependent 
nonparametric priors and the associated inference algorithms for 
covariate-dependent latent variable models and more generally
for modeling non-exchangeable data.  Additionally, I am
interested in large-scale inference for Bayesian nonparametric
models.

Prior to Dartmouth I received my BS in Computer Science and
Mathematics from Tufts University.  While at Tufts I worked with
professors Soha Hassoun and Sarah Frisken.


{% endblock boxtext %}
