{% macro render_navbar_items() -%}
{# Moved the <ul></ul> to the template so it's easier to mess with style #}
<!--<ul class="nav nav-pills red">-->
{% for nav_item in navbar -%}
    <li{% if nav_item.url == resource.url or nav_item.active %} class="active"{% endif %}><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
{%- endfor %}
<!--</ul>-->
{%- endmacro %}
